@import '@/app/components/styles/utilities/_normalize.css';
@import '@/app/components/styles/utilities/_reset.css';

.item-exit {
  opacity: 1;
  max-height: 800px;
}
.item-exit-active {
  opacity: 0;
  max-height: 0;
  transition: opacity 0.5s ease-in, max-height 500ms ease-in;
}